    #header {
    	position: relative;
		width: 100%; margin: 0 auto;
		height: 160px;
    }
	#header > #title {
		position: absolute;
		left: 20px; top: 30px;
		color: black;
    }
        
   
    #content {
    	position: relative;
		width: 100%; margin: 0 auto;
	}
	#content > #aside > #profileMenu {
		position: absolute;
		float: left;
		width: 300px; height: 30px;
		left: 20px; top: 30px;
		text-align: center;
		font-size: 25px;
    	box-sizing: border-box;
    	border: 1px solid black;
    	background: lightgray;
    }
    #content > #aside > #profile > #profileForm {
		position: absolute;
		float: left;
		width: 300px; height: 400px;
		left: 20px; top: 100px;
    	text-align: center;
    	box-sizing: border-box;
    	border: 1px solid black;
    }
    #content > #mainSection {
		position: absolute;
		float: left;
		width: 600px;
		left: 320px; top: 30px;
    }
	#content > #mainSection > #menu > ul > #phoneBookMenu {
    	position: absolute;
    	float: left;
    	width: 50%; height: 30px;
    	text-align: center;
    	font-size: 25px;
    	box-sizing: border-box;
    	border: 1px solid black;
	}
	#content > #mainSection > #menu > ul > #scheduleMenu {
    	position: absolute;
    	float: left;
    	width: 50%; height: 30px; 
    	left: 300px;
    	text-align: center;
    	font-size: 25px;
    	box-sizing: border-box;
    	border: 1px solid black;
    }
    #content > #mainSection > #contents {
    	position: absolute;
    	float: left;
    	width: 50%; height: 600px;
    	top: 150px;
    }